@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: url("alexander-andrews-yOIT88xWkbg-unsplash.jpg") #101d2c;
  background-size: 130% auto;
  background-repeat: no-repeat;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(90, 90, 90, 0.301);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 7px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn:focus {
  outline: none;
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #ffffff31;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
}

.task:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.task.reminder {
  border-left: 5px solid #0084ffa9;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 4px;
  border: none;
  background-color: #e0e0e0a1;
}

.form-control input:focus {
  background-color: rgba(255, 255, 255, 0.705);
  outline: none;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #303030;
}

a:hover {
  color: #000000;
}

.about {
  margin: 30px 0px;
  text-align: center;
  color: #005000ce;
}